html, body {
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #e9eaed;
	font-family: helvetica, arial, sans-serif;
	overflow: hidden;
}
body {
	overflow: scroll;
}
#head {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 43px;
	background-color: rgba(13,213,178,1);
	border: 0;
	border-bottom: 1px solid rgba(13,213,178,0.7);
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	font-size: 25px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#head > div {
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 500px;
}
#head > div > span {
	display: block;
	width: 43px;
	height: 43px;
	position: absolute;
	top: 0;
	right: 0;
	background-size: cover;
}
#dates {
	position: fixed;
	top: 0px;
	left: 50%;
	width: 100%;
	max-width: 500px;
	height: 40px;
}
/*#dates::before {
	content: "\25BC";
	display: block;
	position: absolute;
	top: 40%;
	right: calc(50% + 6px);
	z-index: 100;
}*/
#dates > div {
	display: inline-block;
	position: relative;
	margin-left: -50%;
	margin-top: 43px;
	width: 100%;
	max-height: calc(100vh - 43px);
	overflow: scroll;
}
#dates > div > div {
	background-color: #FFFFFF;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 43px;
}
[data-open="true"] {
	height: 100vh;
}
#date {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	max-width: 500px;
	padding-top: 83px;
	color: rgba(0,0,0,0.65);
}
.item {
	position: relative;
	width: calc(100% - 12px);
	height: 140px;
	margin-left: 6px;
	background-color: #FFFFFF;
	margin-top: 6px;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	box-sizing: border-box;
}
.label {
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 24px;
}
.big {
	font-weight: bold;
	padding-left: 12px;
}
.up {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 60px;
	height: 60px;
}
.up::after {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url(http://i.imgur.com/9HSS25t.png);
	background-size: cover;
	opacity: 0.4;
}
.down {
	position: absolute;
	bottom: 6px;
	right: 6px;
	width: 60px;
	height: 60px;
}
.down::after {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url(http://i.imgur.com/4LYnori.png);
	background-size: cover;
	opacity: 0.4;
}
.up::before, .down::before {
	position: absolute;
	top: 41%;
	right: 111%;
	content: attr(data-cntL);
}
[data-trans="false"]::after {
	opacity: 1;
}
[data-trans="false"]::before {
	content: attr(data-cntH);
}
#space {
	display: inline-block;
	width: 100%;
	height: 0px;
}
[data-open="false"], [data-view="false"] {
	display: none !important;
}
#date > div::after {
	content: "";
	display: block;
	height: 10px;
}
#date > div::before {
	content: attr(id);
}